{% extends "badmin/events/events_base.html" %}

{% block content %}
    <div class="inner">
        <h2>Events</h2>
        
        <p class="description">
            These are the events visible on the site.
        </p>
    
        <a class="new-item" href="{% url badmin:events:event_create %}">New Event</a>
    
        {% for event in event_list %}
            <h3><a href="">{{ event.title }}</a></h3>
        {% endfor %}
    
        {% with name="badmin:events:event_list" %}
            {% include "core/pagination_browser.html" %}
        {% endwith %}
    </div>
{% endblock %}