{% extends "badmin/events/events_base.html" %}

{% block content %}
    <div class="inner">
        <h2><a href="{% url badmin:events:event_list %}">Events</a> / Editing {{ event.title }}</h2>
    
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Save"> or <a href="{% url badmin:news:post_list %}">cancel</a></p>
        </form>
    </div>
{% endblock %}

{% block meta_link %}
    <a href="{% url events:event_detail slug=event.slug %}">view <span class="highlight">{{ event.title }}</span> on site &#x2192;</a>
{% endblock %}