{% extends "badmin/events/events_base.html" %}

{% block content %}
    <div class="inner">
        <h2><a href="{% url badmin:events:event_list %}">Events</a> / Editing {{ event.title }}</h2>
    
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="action-button-bar clearfix">
                <input class="left" type="submit" value="Save">
                <a class="mini-button left" href="{% url badmin:events:event_list %}">Cancel</a>
                <a class="mini-button warning right" href="">Delete</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block meta_link %}
    <a href="{% url events:event_detail slug=event.slug %}">view <span class="highlight">{{ event.title }}</span> on site &#x2192;</a>
{% endblock %}