# Django
Django==1.3

# Requirement for Django docs
docutils

# Markdown
elementtree
markdown
https://github.com/marcuswhybrow/django-wmd-editor/tarball/master

# Synchronisation with other services
oauth2
python-twitter==0.5
flickrapi
https://github.com/marcuswhybrow/django-syncr/tarball/master

# django-paypal
https://github.com/mthornhill/django-paypal/tarball/master
# May also want M2Crypto in future (more security).
