{% extends "core/core_base.html" %}

{% block body_class %}biography{% endblock %}

{% block content %}
    <div class="inner">
        <h2>Band Biography</h2>
    
        <div id="">
            <div id="bio-ben" class="person">
                <span class="name">Ben</span>
            </div>
            <div id="bio-gary" class="person">
                <span class="name">Gary</span>
            </div>
            <div id="bio-jaime" class="person">
                <span class="name">Jaime</span>
            </div>
            <div id="bio-jamie" class="person">
                <span class="name">Jamie</span>
            </div>
        </div>
    </div>
{% endblock %}