{% extends "core/core_base.html" %}

{% block meta %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="What's New" href="{% url core:feed %}" />
{% endblock %}

{% block content %}
    
    <section id="poster">
        <div id="p-logo"></div>
    </section>
    
    <section id="upcomming-events">
        <h3>Upcoming Events</h3>
        <ul id="ue-events">
            {% for event in upcomming_events %}
                {% if not event.is_in_past %}
                    <li class="clearfix{% if event.is_in_past %} in-past{% endif %}">
                        <div class="ue-event-date" title="{{ event.date }}">
                            <span class="month">{{ event.date|date:"M" }}</span>
                            <span class="day">{{ event.date|date:"d" }}</span>
                        </div><!-- .ue-event-date -->
                        <div class="ue-event-details">
                            <h4 class="ue-event-title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h4>
                            <p class="ue-event-address{% if not event.address %} no-address{% endif %}" title="{{ event.address }}">
                                <span class="ue-event-address-fadeout" title="{{ event.address }}"></span>
                                {% if event.address %}{{ event.address }}{% else %}No address yet!{% endif %}
                            </p>
                            <p class="ue-event-time">{{ event.date|date:"G:i"}}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul><!-- #ue-events -->
    </section><!-- #upcomming-events -->
    
    <section id="whats-new">
        <h3>What's New</h3>
        <ul>
            {% for thing in latest_things %}
                <li>
                    {% if thing.type == 'video' %}
                        {% with video=thing.object %}
                            <a href="{% url core:video_detail slug=video.video_id %}">{{ video.title }}</a>
                            <br /><br />
                            <a href="{% url core:video_detail slug=video.video_id %}"><img width="150px" src="{{ video.thumbnail_url }}" /></a>
                        {% endwith %}
                    {% else %}
                        {% if thing.type == 'photo' %}
                            {% with photo=thing.object %}
                                <a href="{{ photo.photopage_url }}">{{ photo.title }}</a>
                                <br /><br />
                                <a href="{{ photo.photopage_url }}"><img width="150px" src="{{ photo.get_small_url }}" /></a>
                            {% endwith %}
                        {% else %}
                            {% if thing.type == 'post' %}
                                {% with post=thing.object %}
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    {{ post.body_html|truncatewords_html:30|safe }}
                                {% endwith %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section><!-- #whats-new -->
{% endblock %}