{% extends "news/news_base.html" %}

{% block meta %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="New Posts" href="{% url news:feed %}" />
{% endblock %}

{% block content %}
    <div class="inner">
        <h2>News</h2>
        
        <p class="description">
            The latest news updates from Long Dead Signal.
        </p>
        
        {% for post in post_list %}
            <section class="post clearfix">
                <div class="date-box post-date">
                    <span class="day-month">{{ post.pub_date|date:"dS M" }}</span>
                    <span class="year">{{ post.pub_date|date:"Y" }}</span>
                </div>
                <div class="post-right">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <div class="post-body">
                        {{ post.body_html|truncatewords_html:40|safe }}
                    </div>
                </div>
            </section>
        {% endfor %}
    
        {% with name="news:post_list" %}
            {% include "core/pagination_browser.html" %}
        {% endwith %}
    </div>
{% endblock %}

{% block meta_link %}
    <a href="{% url badmin:news:post_create %}">add a new <span class="highlight">news update</span> &#x2192;</a>
{% endblock %}