{% extends "news/news_base.html" %}

{% block content %}
    <div class="post inner">
        <h2><a href="{% url news:post_list %}">News</a> / {{ post.title }}</h2>
        
        <div class="date-box post-detail-date">
            <span class="day-month">{{ post.pub_date|date:"dS M" }}</span>
            <span class="year">{{ post.pub_date|date:"Y" }}</span>
        </div>

        <div class="post-body">
            {{ post.body_html|safe }}
        </div>
    </div>
{% endblock %}

{% block meta_link %}
    <a href="{% url badmin:news:post_update slug=post.slug %}">edit <span class="highlight">{{ post.title }}</span> &#x2192;</a>
{% endblock %}