{% extends "registration/registration_base.html" %}

{% block content %}
    <div class="inner">
        <h2>Login</h2>
    
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            
            {% with form.username as field %}{% include "core/field_errors.html" %}{% endwith %}
            <input type="text" name="{{ form.username.name }}" placeholder="Username">
            
            {% with form.password as field %}{% include "core/field_errors.html" %}{% endwith %}
            <input type="text" name="{{ form.password.name }}" placeholder="Password">

            <p><input type="submit" value="Continue &rarr;"></p>
        </form>
    </div>
{% endblock %}