{% extends "registration/registration_base.html" %}

{% block content %}
    <div class="inner">
        <h2>Login</h2>
    
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            
            <div class="clearfix">
                {% with form.username as field %}{% include "core/field_errors.html" %}{% endwith %}
                <input {% if form.username.errors %}class="errors"{% endif %} type="text" name="{{ form.username.name }}" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" placeholder="Username">
            </div>
            <div class="clearfix">
                {% with form.password as field %}{% include "core/field_errors.html" %}{% endwith %}
                <input {% if form.password.errors %}class="errors"{% endif %} type="password" name="{{ form.password.name }}" value="{% if form.password.value %}{{ form.password.value }}{% endif %}" placeholder="Password">
            </div>

            <div class="action-button-bar inline clearfix">
                <input type="submit" value="Login &rarr;">
            </div>
        </form>
    </div>
{% endblock %}