{% extends "music/music_base.html" %}

{% block content %}
    <div class="inner">
        <h2>Music</h2>
        
        <p class="description">
            All of Long Dead Signals tracks for your listening pleasure:
        </p>
    
        {% for album in album_list %}
            <div class="album">
                <div class="img">
                    {% if album.artwork %}
                        <img src="{{ MEDIA_URL }}{{ album.artwork }}" alt="" width="300px">
                    {% endif %}
                </div>
            
                <div class="album-right clearfix">
                    <h3>{{ album.title }}</h3>
            
                    <div id="player-{{ album.pk }}" class="player">
                        <div class="jp-jplayer"></div>

                        <div class="jp-audio">
                            <div class="jp-type-playlist">
                                <div id="jp_interface_1" class="jp-interface">
                                    <ul class="jp-controls">
                                        <li><a href="#" class="jp-previous">prev</a></li>
                                        <li><a href="#" class="jp-play">play</a></li>
                                        <li><a href="#" class="jp-pause">pause</a></li>
                                        <li><a href="#" class="jp-next">next</a></li>
                                        <li><a href="#" class="jp-stop">stop</a></li>
                                        <li><a href="#" class="jp-mute">mute</a></li>
                                        <li><a href="#" class="jp-unmute">unmute</a></li>
                                    </ul>
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div class="jp-play-bar"></div>
                                        </div>
                                    </div>
                                    <div class="jp-volume-bar">
                                        <div class="jp-volume-bar-value"></div>
                                    </div>
                                    <div class="jp-current-time"></div>
                                    <div class="jp-duration"></div>
                                </div>
                                <div id="jp_playlist_1" class="jp-playlist">
                                    <ul>
                                        {% for song in album.song_set.all %}
                                            <li class="song" pk="{{ song.pk }}" -data-path="{{ MEDIA_URL }}{{ song.song_mp3}}" -data-title="{{ song.title }}">
                                                <span class="icon">&#9654;</span>{{ song.track_number }} &nbsp;&nbsp; {{ song.title }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/assets/js/libs/jquery.jplayer.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            var Player = function(selector) {
                var self = this;
                this.instance = $(selector + ' .jp-jplayer');
                
                this.options = {
                    swfPath: '{{ STATIC_URL }}assets/js/libs',
                    supplied: 'mp3',
                    cssSelectorAncestor: selector,
                    ready: function() {
                        var $song = $(selector + ' .song:first');
                        self.instance.jPlayer('setMedia', {
                            name: $song.attr('-data-title'),
                            mp3: $song.attr('-data-path')
                        });
                        $song.addClass('playing');
                    },
                    ended: function() {
                        $(selector + ' .song.playing').next().click();
                    }
                };
                
                $(selector + ' .song').click(function() {
                    var index = $(this).attr('pk');
                    self.instance.jPlayer('setMedia', {
                        name: $(this).attr('-data-title'),
                        mp3: $(this).attr('-data-path')
                    });
                    $(this).blur();
                    $(this).siblings().removeClass('playing');
                    $(this).addClass('playing');
                    self.instance.jPlayer('play');
                    return false;
                });
                
                $(selector + ' .jp-stop').click(function() {
                    self.instance.jPlayer('setMedia', {
                        name: $(selector + ' .song.playing').attr('-data-title'),
                        mp3: $(selector + ' .song.playing').attr('-data-path')
                    });
                    return false;
                });
                
                $(selector + ' .jp-previous').click(function() {
                    $(selector + ' .song.playing').prev().click();
                    return false;
                });
                
                $(selector + ' .jp-next').click(function() {
                    $(selector + ' .song.playing').next().click();
                    return false;
                });
                
                
                this.instance.jPlayer(this.options);
            };
            
            {% for album in album_list %}
                new Player('#player-{{ album.pk }}');
            {% endfor %}
        });
    </script>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ STATIC_URL}}assets/css/jplayer/jplayer.blue.monday.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css" media="screen">
        div.jp-audio div.jp-type-single a.jp-pause {
            top: 0;
            left: 0;
        }
        
        div.jp-playlist ul {
            margin: 0;
            padding: 0;
        }
        
        div.jp-type-playlist div.jp-playlist li {
            padding: 5px 15px 5px;
            font-size: 14px;
            background-color: #fff;
            border: none;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
        }
        
        div.jp-type-playlist div.jp-playlist li .icon {
            opacity: 0;
            margin-right: 10px;
        }
        
        div.jp-type-playlist div.jp-playlist li.playing .icon {
            opacity: 1;
        }
        
        div.jp-type-playlist div.jp-playlist li.playing {
            padding-left: 15px;
        }
        
        div.jp-playlist {
            border: none;
        }
        
        div.jp-audio div.jp-type-playlist div.jp-interface {
            border: none;
            background-color: #fff;
        }
        
        div.jp-audio {
            width: 520px;
        }
        
        div.jp-audio div.jp-type-playlist div.jp-progress {
            width: 240px;
        }
        
        div.jp-audio div.jp-type-playlist div.jp-current-time,
        div.jp-audio div.jp-type-playlist div.jp-duration {
            width: 240px;
        }
        
        div.jp-audio div.jp-type-playlist a.jp-mute,
        div.jp-audio div.jp-type-playlist a.jp-unmute {
            left: 420px;
        }
        
        div.jp-audio div.jp-type-playlist div.jp-volume-bar {
            left: 450px;
        }
        
        .player .song {
            
        }
        
        .player .song.playing {
            color: #000;
        }
    </style>
{% endblock %}
