{% extends "badmin/news/news_base.html" %}

{% block content %}
    <div class="inner">
        <a class="new-item" href="{% url badmin:news:post_create %}">New Post</a>
        
        <h2><a class="admin-title" href="">News Admin</a></h2>
        
        <p class="description">
            These are the news updates visible on the site.
        </p>
    
        {% for post in post_list %}
            <h3><a href="{% url badmin:news:post_update post.slug %}">{{ post.title }}</a></h3>
        {% endfor %}
    
        {% with name="badmin:news:post_list" %}
            {% include "core/pagination_browser.html" %}
        {% endwith %}
    </div>
{% endblock %}