{% extends "events/events_base.html" %}

{% block meta %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="Upcomming Events" href="{% url events:feed %}" />
{% endblock %}

{% block content %}
    <div class="inner">
        <h2>Event List</h2>
        
        <p class="description">
            These are Long Dead Signal's upcoming events:
        </p>
        
        {% for event in event_list %}
            <section class="event clearfix" pk="{{ event.pk }}">
                <div class="date-box event-date{% if event.is_in_past %} past{% endif %}">
                    <span class="day-month">{{ event.date|date:"dS M" }}</span>
                    <span class="year">{{ event.date|date:"Y" }}</span>
                </div>
                
                <div class="event-map-wrapper">
                    <a href="{{ event.get_absolute_url }}">
                        <div id="event-map-{{ event.pk }}" class="event-map{% if not event.location_google_maps %} empty{% endif %}"></div>
                    </a>
                </div>
                
                <div class="event-right">
                    <h3><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
                    <p class="event-mini-description">
                        {{ event.pre_event_message_html|striptags }}
                    </p>
                </div>
            </section>
        {% endfor %}
    
        {% with name="events:event_list" %}
            {% include "core/pagination_browser.html" %}
        {% endwith %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript">
        $(function() {
            // Google Map
            {% for event in event_list %}
                {% if event.location_google_maps %}
                    var position = new google.maps.LatLng({{ event.location_google_maps }});
                    var marker = new google.maps.Marker({
                        position: position,
                        title: "This is where we are playing"
                    });
                    var map = new google.maps.Map(document.getElementById('event-map-{{ event.pk }}'), {
                        zoom: 15,
                        center: position,
                        mapTypeId: google.maps.MapTypeId.HYBRID,
                        scrollwheel: false,
                        disableDefaultUI: true,
                        draggable: false
                    });
                    marker.setMap(map);
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}