{% extends "merch/merch_base.html" %}

{% block content %}
    <div class="inner">
        <h2>Shop</h2>
        
        <p class="description">
            Welcome to the Shop. Support us by grabbing a T-Shirt using PayPal.
        </p>
    
        <ul>
            {% for merch in merch_list %}
                <li>
                    <a href="{{ merch.get_absolute_url }}">{{ merch.title }}</a> : &pound;{{ merch.price }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
