{% extends "base.html" %}

{% block body_class %}admin{% endblock %}

{% block header %}
    <h1 id="gn-title"><a href="{% url badmin:index %}">Long Dead Signal <span class="highlight">Admin</span></a></h1>
    <ul id="gn-menu" class="clearfix">
        <li class="admin-news"><a href="{% url badmin:news:post_list %}">News</a></li>
        <li class="admin-events"><a href="{% url badmin:events:event_list %}">Events</a></li>
        <li class="admin-shop"><a href="">Shop</a></li>
        <li class="admin-music"><a href="">Music</a></li>
        <li><a href="{% url core:index %}">Site &#x2192;</a></li>
    </ul>
{% endblock %}

{% block footer %}
    <p><small><a href="{% url admin:index %}">Full developer admin interface</a></small></p>
{% endblock %}