/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */

html {
    background-color: #101410;
}

body {
    padding-top: 20px;
}

#wrapper {
    background: top center url('/static/assets/img/background/bg.jpg') no-repeat #101410;
}

body.no-clicking a {
    cursor: default;
}


/* ---------------------------------------------------------------------------
   Global Nav
   ---------------------------------------------------------------------------
*/

#global-nav {
    width: 900px;
    margin: 0 auto;
    
/*    background: #101410;*/
    background-color: rgba(255,255,255,0.1);
/*    border-bottom: 1px solid #000;*/
    margin-bottom: 20px;
    
    padding: 10px 0 10px;
}

#global-nav #gn-title {
    float: left;
    font-size: 28px;
    margin: 0 20px 0 20px;
    color: #fff;
    
    font-family: georgia;
    font-style: italic;
    
    text-shadow: 1px 1px 0 #000;
}

#global-nav #gn-title a {
    color: inherit;
    text-decoration: none;
}

#global-nav #gn-title a:hover {
    text-decoration: underline;
}

#global-nav #gn-menu {
    list-style: none;
    margin: 0;
    float: left;
    
}

#global-nav #gn-menu li {
    float: left;
/*    background: #ddd;*/
    margin-right: 10px;
    
    font-size: 16px;
}
#global-nav #gn-menu li:last-child {
    margin-right: 0;
}

#global-nav #gn-menu li a {
    display: block;
    padding: 10px 10px 5px;
    width: 50px;
    
    text-align: center;
    text-decoration: none;
    
    color: #ddd;
    border: 1px solid transparent;
}

#global-nav #gn-menu li a:hover,
body.news #global-nav #gn-menu li.news a,
body.photos #global-nav #gn-menu li.photos a,
body.videos #global-nav #gn-menu li.videos a,
body.events #global-nav #gn-menu li.events a,
body.music #global-nav #gn-menu li.music a,
body.biography #global-nav #gn-menu li.biography a,
body.shop #global-nav #gn-menu li.shop a {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.1);
}


/* ---------------------------------------------------------------------------
   Content
   ---------------------------------------------------------------------------
*/

#content {
    width: 900px;
    margin: 0 auto 20px;
    
    position: relative;
}

#content .inner {
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px #101410;
    
    min-height: 550px;
}

body.index #content .inner {
    min-height: 0;
}


/* ---------------------------------------------------------------------------
   Content - Index Page
   ---------------------------------------------------------------------------
*/

/* Poster ----------------------------------------------------------------- */

#content #poster {
    background: #ddd;
    height: 600px;
    position: relative;
    
    background: top left url('/static/assets/img/front-poster.jpg') no-repeat;
    
/*    border: 1px solid #101410;*/
    -webkit-box-shadow: 0 0 10px #101410;
    
    margin-bottom: 20px;
}

#poster #p-logo {
/*    background: #ccc;*/
    
    margin-top: 450px;
    
    font-size: 50px;
    font-family: georgia;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}

#poster #p-logo a {
    color: #fff;
    text-decoration: none;
}

#poster #p-logo a:hover {
    background-color: rgba(255,255,255,0.2);
    padding: 10px 20px;
    -webkit-border-radius: 6px;
}


#poster #latest-tweet a {
    position: relative;
    top: 20px;
    display: block;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    color: #ddd;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
    
    font-family: georgia;
    text-align: center;
    
    text-decoration: none;
}

#poster #latest-tweet a:hover {
/*    text-decoration: underline;*/
    background-color: #000;
}


/* Upcoming Events -------------------------------------------------------- */

#content #upcomming-events {
    background: #eee;
    width: 300px;
    height: 200px;
    
    position: absolute;
    right: 0;
    
    padding: 0 0 10px 0;
}

#content #upcomming-events h3 {
    margin: 20px 20px 0 20px;
    
    text-transform: uppercase;
    
    color: #bbb;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
}

#content #upcomming-events ul {
    margin: 10px 0 0;
    list-style: none;
}

#content #upcomming-events ul li {
    margin: 0 20px 10px 20px;
}

#content #upcomming-events ul li .ue-event-date {
    background: #ddd;
    float: left;
    
    width: 50px;
    border: 1px solid #bbb;
    
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#content #upcomming-events ul li:hover .ue-event-date {
    -webkit-transform: scale(1.5) rotate(2deg);
    -moz-transform: scale(1.5) rotate(2deg);
    -o-transform: scale(1.5) rotate(2deg);
    transform: scale(1.5) rotate(2deg);
}

#content #upcomming-events ul li .ue-event-date .month {
    display: block;
    background: #ccc;
    
    padding: 2px 4px;
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    text-shadow: 0 1px 0 #eee;
    
    border-bottom: 1px solid #bbb;
}

#content #upcomming-events ul li .ue-event-date .day {
    display: block;
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    padding: 5px 0 3px;
}

#content #upcomming-events ul li .ue-event-details {
    float: left;
    width: 200px;
    overflow: hidden;
}

#content #upcomming-events ul li .ue-event-details .ue-event-title {
    margin: 2px 0 0 10px;
}

#content #upcomming-events ul li .ue-event-details .ue-event-address {
    margin: 3px 0 0 10px;
    height: 16px;
    width: 500px;
    overflow: hidden;
    position: relative;
}

#content #upcomming-events ul li .ue-event-details .ue-event-address.no-address {
    color: #bbb;
}

#content #upcomming-events ul li .ue-event-details .ue-event-address-fadeout {
    position: absolute;
    width: 190px;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0, rgba(238,238,238,1.0)),
        color-stop(0.2, rgba(238,238,238,0))
    );
    background-image: -moz-linear-gradient(
        right center,
        rgba(238,238,238,1.0) 0%,
        rgba(238,238,238,0) 20%
    );
}

#content #upcomming-events ul li .ue-event-details .ue-event-time {
    margin: 2px 0 0 10px;
}

#content #upcomming-events #ue-more {
    margin: 0 20px 20px 80px;
}

/* What's New ------------------------------------------------------------- */

#content #whats-new {
    background: #eaeaea;
    margin: 0 300px 0 0;
    
    padding: 0 0 20px 0;
}

#content #whats-new h3 {
    padding: 20px 20px 0 20px;
    
    text-transform: uppercase;
    
    color: #bbb;
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
}

#content #whats-new ul {
    list-style: none;
    margin: 10px 20px 0 20px;
}

#content #whats-new ul li {
    margin-bottom: 10px;
}

#content #whats-new ul li .wn-image {
    float: left;
    position: relative;
    display: block;
    
    text-decoration: none;
    
    overflow: hidden;
}

#content #whats-new ul li .wn-image img {
    display: block;
}

#content #whats-new ul li .wn-title {
    margin: 3px 0 0 110px;
}

#content #whats-new ul li .wn-desc {
    margin: 3px 0 0 110px;
}


#content #whats-new ul li.post .wn-image {
    
}

#content #whats-new #wn-more {
    margin: 10px 20px 0 130px;
}

/* Image curl effect ------------------------------------------------------ */

#content #whats-new ul li .wn-image {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

#content #whats-new ul li .wn-image:after { 
    z-index: -1; 
    position: absolute; 
    background: transparent; 
    width: 70%; 
    height: 55%; 
    content: ''; 
    right: 10px; 
    bottom: 10px; 
    transform: skew(15deg) rotate(6deg);
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
} 

#content #whats-new ul li .wn-image:before { 
    z-index: -2; 
    position: absolute; 
    background: transparent; 
    width: 70%; 
    height: 55%; 
    content: ''; 
    left: 10px; 
    bottom: 10px; 
    transform: skew(-15deg) rotate(-6deg); 
    -webkit-transform: skew(-15deg) rotate(-6deg); 
    -moz-transform: skew(-15deg) rotate(-6deg); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------------------------------
   Footer
   ---------------------------------------------------------------------------
*/

#global-footer {
    background: #eee;
    
    height: 100px;
}

#global-footer #gf-inner {
    width: 900px;
    height: 80px;
    margin: 0 auto;
    padding: 20px 0 20px;
    
    position: relative;
}

#global-footer #gf-inner #credit {
    text-align: center;
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

/* Generic ---------------------------------------------------------------- */

#content .inner {
    padding: 20px 20px 20px;
}

h2 {
    font-size: 24px;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
    
}


p.description {
    margin: 10px 0 20px;
    font-size: 20px;
    font-family: georgia;
    font-style: italic;
}

p.description a {
    text-decoration: none;
    padding: 3px 5px 2px;
    background-color: #eaeaea;
    -webkit-border-radius: 3px;
}

p.description a:hover {
    color: white;
    background-color: black;
}


section.post {
    margin-top: 20px;
}

.post h3 {
    font-size: 18px;
}

.post .post-time {
    margin-top: 5px;
}

.post .post-body {
    margin-top: 5px;
}


.video-player {
    margin: 20px 0;
}

a.watch-youtube {
    background-color: #333;
    color: #ddd;
    padding: 20px 20px 15px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    float: right;
    
    -webkit-border-radius: 6px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

p.video-description {
    margin: 10px 0 20px;
    font-size: 20px;
    float: left;
    width: 630px;
}

a.watch-youtube:hover {
    background-color: black;
    color: #fff;
}


.video h3 {
    font-size: 18px;
    
}

.video .video-time {
    margin: 5px 0 5px;
}


.event {
    margin: 0 0 20px 0;
}

.event-map-wrapper {
    width: 500px;
    height: 100px;
    background-color: #ddd;
    float: left;
    margin: 0 0 0 20px;
    position: relative;
}

.event-map-wrapper h3 {
    position: absolute;
    opacity: 1;
    z-index: 200;
}

.event-map-wrapper h3 a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    background-color: rgba(0,0,0,0.7);
    display: block;
    width: 460px;
    padding: 10px 20px 8px 20px;
    font-weight: normal;
}

.event-map {
    width: 500px;
    height: 100px;
    z-index: 100;
}

.event-date {
    display: block;
/*    background-color: #333;*/
    float: left;
    padding: 20px 20px 15px;
    -webkit-border-radius: 6px;
    
    width: 80px;
}

.event-detail .event-date {
    padding-top: 0;
}

.event-date.past {
/*    background-color: #999;*/
}

.event-date .day-month {
    float: left;
    color: #333;
    font-size: 20px;
}

.event-date.past .day-month {
    color: #eee;
}

.event-date .year {
    float: left;
    clear: left;
    font-size: 35px;
    color: #666;
}

.event-date.past .year {
    color: #ccc;
}


.map {
    width: 100%;
    height: 300px;
    text-indent: -999999px;
    overflow: hidden;
}

.map.empty {
    text-indent: 0;
    overflow: visible;
    font-size: 20px;
    border: 1px solid #333;
    height: 40px;
    padding: 20px 20px 0px 20px;
    text-align: center;
    
    width: 818px;
}


.event-status {
    float: right;
    background-color: #353;
    color: #fff;
    padding: 20px 20px 15px 20px;
    
    font-size: 20px;
    -webkit-border-radius: 6px;
}

.event-status.past {
    background-color: #533;
}

.event-details dl {
    float: left;
}

.event-description {
    margin-top: 20px;
}

.event-description h3 {
    font-size: 20px;
    margin-bottom: 10px;
}


/* JPlayer ---------------------------------------------------------------- */



.player .song.playing {
    color: white;
}

/* Sticky Footer ---------------------------------------------------------- */

html, body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
}
#global-footer, #push {
    height: 120px;
}


#global-footer {
    background-color: #111;
    color: #ddd;
}

#global-footer a {
    color: #ddd;
    text-decoration: none;
}

#global-footer a:hover {
    text-decoration: underline;
}

#global-footer #gf-inner #credit {
    color: #ddd;
    text-shadow: none;
    font-weight: bold;
}


/* Pagination ------------------------------------------------------------- */

.pagination {
    margin-top: 20px;
    font-size: 18px;
}

.pagination .page {
    border: 1px solid #666;
    color: #333;
    text-decoration: none;
    padding: 0 3px 0;
}

.pagination .page:hover,
.pagination .newer:hover,
.pagination .older:hover,
.pagination .first:hover,
.pagination .last:hover,
.pagination strong {
    border: 1px solid #333;
    padding: 0 3px 0;
    background-color: #333;
    color: #fff;
}

.pagination .newer,
.pagination .older,
.pagination .first,
.pagination .last {
    color: #333;
    padding: 0 3px 0;
    text-decoration: none;
    border: 1px solid #666;
}


/* Admin ------------------------------------------------------------------ */

a.new-item {
    background-color: #333;
    color: #ddd;
    padding: 20px 20px 15px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    float: right;
    
    -webkit-border-radius: 6px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

form h3 {
    margin-top: 20px;
}

form h3:first-child {
    margin-top: 0;
}

input {
    padding: 8px 10px;
    float: left;
    clear: left;
    margin: 10px 0 0 0;
}

input.errors {
    background-color: #fee;
    color: red;
}

input[type="text"] {
    width: 300px;
}

.error-list {
    list-style: none;
    margin: 10px 0 0 0;
    color: red;
}



#wmd-input {
    background-color: #fff !important;
    padding: 20px !important;
    width: 820px !important;
    font-size: 16px;
    
    height: 300px !important;
    resize: none;
}

#wmd-preview {
    border: none !important;
    min-height: 100px;
    padding: 20px;
}

.wmd-panel {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


#address-map {
    margin: 20px 0 20px;
}

button#refresh {
    float: left;
    clear: none;
}

/* Posts ------------------------------------------------------------------ */

.post h1,
.post h2,
.post h3 {
    margin-bottom: 10px;
}
.post p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.3em;
}





/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

