{% load flatpages %}
{% get_flatpages as flatpages %}

<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!-- Page Specific Meta -->
    {% block meta %}{% endblock %}
    <!-- END Page Specific Meta -->
    
    <title>{% block title %}Long Dead Signal{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}assets/img/apple-touch-icon.png">
    
    <!-- CSS: implied media="all" -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/jquery-ui/dark-hive/jquery-ui-1.8.12.custom.css">
    
    <!-- Uncomment if you are specifically targeting less enabled mobile browsers -->
    <!-- <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
    
    <!-- Page Specific Links -->
    {% block links %}{% endblock %}
    <!-- END Page Specific Links -->
    
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{ STATIC_URL}}assets/js/libs/modernizr-1.7.min.js"></script>
    
    <!-- Page Specific Other Stuff -->
    {% block header_extra %}{% endblock %}
    <!-- END Page Specific Other Stuff -->
</head>

<body class="{% block body_class %}{% endblock %}">
    {% block body %}
        <div id="wrapper">
            <header id="global-nav" class="clearfix">
                {% block header %}
                    <h1 id="gn-title"><a href="{% url core:index %}">Long Dead Signal</a></h1>
                    <ul id="gn-menu" class="clearfix">
                        <li class="news"><a href="{% url news:post_list %}">News</a></li>
                        <li class="photos"><a href="{% url core:photo_list %}">Photos</a></li>
                        <li class="videos"><a href="{% url core:video_list %}">Videos</a></li>
                        <li class="events"><a href="{% url events:event_list %}">Events</a></li>
                        <li class="music"><a href="{% url music:album_list %}">Music</a></li>
                        <li class="biography"><a href="{% url core:biography %}">About</a></li>
                        <li class="shop"><a href="{% url merch:merch_list %}">Shop</a></li>
                    </ul>
                {% endblock %}
            </header><!-- #global-nav -->
            <div id="content">
                {% block content %}
            
                {% endblock %}
            </div><!-- #content -->
            
            <!-- This #push element is part of a sticky footer technique -->
            <div id="push"></div>
        </div><!-- #wrapper -->
        
        <footer id="global-footer">
            <div id="gf-inner">
                {% block footer %}
                    <ul id="flat-pages">
                        {% for page in flatpages %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul><!-- #flat-pages -->
                {% endblock %}
                <p id="credit">&copy; New Media Design, Group 3. 2011</p>
            </div><!-- #gf-inner -->
        </footer><!-- #global-footer -->
    {% endblock %}
    
    <!-- JavaScript at the bottom for fast page loading -->
    
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='{{ STATIC_URL }}assets/js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
    
    <!-- Grab Google CDN's jQuery UI. fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js"></script>
    <script>!window.jQuery.ui && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.11.min.js"%3E%3C/script%3E'))</script>
    
    <!-- Page Specific Scripts -->
    {% block scripts %}{% endblock %}
    <!-- END Page Specific Scripts -->
    
    <!--[if lt IE 7 ]>
        <script src="{{ STATIC_URL }}assets/js/libs/dd_belatedpng.js"></script>
        <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->
</body>
</html>
