{% extends "flickr/flickr_base.html" %}
{% load feeds %}

{% block meta %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="What's New" href="{% flickr_feed %}" />
{% endblock %}

{% block content %}
    <div class="inner">
        <h2>Photos</h2>
        
        <p class="description">
            These photos are from <a href="">Flickr</a> so subscribe to <a href="">our feed</a> for updates.
        </p>
    
        {% for photo in photo_list %}
            <img src="{{ photo.get_small_url }}" alt="{{ photo.title }}" title="{{ photo.title }}" />
        {% endfor %}
    </div>
{% endblock %}